
body {
	margin: 0 auto; 
	max-width: 600px;
	padding: 0; 
	border: 0; 
	font-family: fantasy, Times;
	background-image: url("./img/green_Background.png");
	background-size: cover;
	z-index: 0;
}

/*--------- header -------------*/
.headerContainer {
	position: absolute;
	top: calc(3% - 1em);
	left: calc(3% - 1em);
	width: 95%;
	height: 8%;
	background: #F0F0F0;
	color: #000000;
	border: 2px solid #000;
	}

.header {
	position: relative;
	top: calc(20% - 1em);
	left: calc(2% - 1em);
	width: auto;
	font-weight: bold;
}

.header h1 {
	font-family: fantasy;
	font-size: 50px;
	font-size: 2vw;
}

/*--------- form  -------------*/
.formContainer {
	position: absolute;
	top: calc(14% - 1em);
	left: calc(12% - 1em);
	width: 70%;
	height: 55%;
	padding: 1%;
	border: 2px solid blue;
	}

formContainer label {
	font-size: 15px;
	font-size: 1.2vw;
	font-family: Times;
	font-weight: bold;
}

.formContainer input {
	width: 100%;
	height: 100%;
	font-size: 10px;
	font-size: 1vw;
	font-family: Times;
	border: 1px solid #000;
}

.formContainer div input{
	width: 90%;
	height: 3vh;
}

/* company */
.formCompany {
	position: absolute;
	width: 40%;
	height: 70%;
	/*border: 2px solid red;*/
}

/* notes */
.formCompanyNotesContainer {
    position: absolute;
    top: calc(51.5% - 1em);
    left: calc(58% - 1em);
    width: 40%;
    height: 40%;
    /*border: 2px solid red;*/
}

.formCompanyNotesContainer div input {
	height: 25vh;
}

/*personal info*/
.formPersonContainer {
	position: absolute;
	top: calc(6.5% - 1em);
	left: calc(58% - 1em);
	width: 40%;
	height: 60%;
	/*border: 2px solid red;*/
}


/*--------- buttons  -------------*/
/*.buttonContainer {
	position: absolute;
    bottom: calc(9% - 1em);
    left: calc(4% - 1em);
    border: 2px solid #FF0;
    width: 20%;
    height: 10%;
    padding: 1%;
}

.a input {
	width: 80px;
	height: 40px;
	border: 1px solid red;
}

.b  {
	position: absolute;
	top: calc(40% - 1em);
	left: calc(65% - 1em);
}

.b input {
	width: 80px;
	height: 40px;
	border: 1px solid green;
}*/

/*.itemButton {
	width: 30%;
	height: 50%;
	display: inline-block;
	border: 1px solid red;
}*/

/*.itemButton input{
	width: 30%;
	height: 220px;
}*/

/*.buttonContainer button:hover{ 
	background:#FF0000;
	color: #000;
}*/

/*.button-save {
	position: absolute;
	top: calc(40% - 1em);
	left: calc(60% - 1em);
	width: 90%;
	height: 220px;
}*/

/*--------- table  -------------*/

/*.tableContainer {
	position: absolute;
	bottom: calc(8% - 1em);
	left: calc(3% - 1em);
	border-collapse: collapse;
	width: 95%;
	height: auto;
	padding: 1%;
	border: 2px solid #000;
}

.tableContainer th {
	font-weight: bold; 
	text-align:center;
	font-weight: bold; 
	font-size: 14px; 
	font-size: 1.2vw;
	font-family: fantasy;
	color:#000;
	border: 2px solid #000;
}
.tableContainer tr {
	color: #000;
	font-size: 12px;*/
	/*font-weight: bold;*/
/*	font-family: sans-serif;
	font-size: 1vw;
	text-align: left; 
}

.tableContainer tr:nth-child(2n) {
	background: #E8EDFF;*/
}
