
body {
	margin: 0 auto; 
	max-width: 600px;
	padding: 0; 
	border: 0; 
	font-family: fantasy, Times;
	background-image: url("./img/green_Background.png");
	background-size: cover;
	z-index: 0;
}

/*--------- header -------------*/
.headerContainer {
	position: absolute;
	top: calc(3% - 1em);
	left: calc(3% - 1em);
	width: 95%;
	height: 8%;
	background: #F0F0F0;
	color: #000000;
	border: 2px solid #000;
	}

.header {
	position: relative;
	top: calc(20% - 1em);
	left: calc(2% - 1em);
	width: auto;
	font-weight: bold;
}

.header h1 {
	font-family: fantasy;
	font-size: 50px;
	font-size: 2vw;
}

/*--------- form  -------------*/
.formContainer {
	position: absolute;
	top: calc(14% - 1em);
	left: calc(12% - 1em);
	width: 70%;
	height: 55%;
	padding: 1%;
	border: 2px solid blue;
	}

formContainer label {
	font-size: 15px;
	font-size: 1.2vw;
	font-family: Times;
	font-weight: bold;
}

.formContainer input {
	width: 100%;
	height: 100%;
	font-size: 10px;
	font-size: 1vw;
	font-family: Times;
	border: 1px solid #000;
}

.formContainer div input{
	width: 90%;
	height: 3vh;
}

.formContainer div textarea {
	/*width: 100%;
	height: 100%;*/
}

/* company */

.formCompany {
	position: absolute;
	width: 40%;
	height: 70%;
}

/* notes */

.formCompanyNotesContainer {
    position: absolute;
    top: calc(75% - 1em);
    left: calc(3% - 1em);
    width: 40%;
    height: 40%;
}

.formCompanyNotesContainer textarea{
	width: 90%;
	height: 9vh;
	border: 1px solid #000;
}
/*personal info*/

.formPersonContainer {
	position: absolute;
	top: calc(6.5% - 1em);
	left: calc(58% - 1em);
	width: 40%;
	height: 46%;
}

/*--------- buttons  -------------*/
.buttonContainer {
	position: absolute;
    top: calc(80% - 1em);
    left: calc(70% - 1em);
    border: 2px solid #FF0;
    width: 20%;
    height: 10%;
    padding: 2%;
}

.itemButton input {
	border-radius: 36px; 
	-moz-border-radius: 36px; 
	-webkit-border-radius: 36px; 
	border: 1px solid #000000;
	margin-bottom: 4%;
}

.itemButton input[type="button"]:hover{
	background:#FF0000;
	color: #000;
}

.itemButton input[type="submit"]:hover{
	background:#FF0000;
	color: #000;
}

/*--------- table  -------------*/
.tableContainer {
	position: absolute;
	bottom: calc(8% - 1em);
	left: calc(3% - 1em);
	border-collapse: collapse;
	width: 95%;
	height: auto;
	padding: 1%;
	border: 2px solid #000;
}

.tableContainer th {
	text-align:center;
	font-weight: bold; 
	font-size: 14px; 
	font-size: 1.2vw;
	font-family: fantasy;
	color:#000;
	border: 2px solid #000;
}

.tableContainer tr {
	color: #000;
	font-size: 10px;
	font-size: 1vw;
	font-family: Times;
	text-align: left; 
}

.tableContainer tr:nth-child(2n) {
	background: #E8EDFF;
}
